{% extends 'base.html' %}

{% block title %}
	Episodes
{% endblock %}

{% block content %}
	<div class="container">
		<div class="notification level">
			<div class="level-left">
				<span class="title">Episodes</span>
			</div>
			<div class="level-right">
				<form method="get">
					<div class="field has-addons">
						<div class="control has-icons-left">
							<input class="input" type="text" name="name" placeholder="Episode abbreviation">
							<span class="icon is-small is-left">
								<i class="fas fa-tv"></i>
							</span>
						</div>
						<div class="control">
							<input class="button is-primary" type="submit" value="Search">
						</div>
					</div>
				</form>
			</div>
		</div>
    </div>
    <!-- Episode Content -->
	<div class="container">
        <div class="level pt-5">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Season 1</p>
                    <p class="title">{{ season_episodes_number["1"] }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Season 2</p>
                    <p class="title">{{ season_episodes_number["2"] }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Season 3</p>
                    <p class="title">{{ season_episodes_number["3"] }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Season 4</p>
                    <p class="title">{{ season_episodes_number["4"] }}</p>
                </div>
            </div>
        </div>
		<p class="pb-5">
			Rick and Morty Wiki actually has stored {{ season_episodes_number["1"] + season_episodes_number["2"] + season_episodes_number["3"] + season_episodes_number["4"] }} episodes! Type the abbreviation in the search bar (e.g., S01E01) or select one from below:
		</p>
        <div class="columns is-vcentered">
            <div class="column">
                <p>
                    <ul>
                        <li>Random episode</li>
                        <li>Random episode</li>
                        <li>Random episode</li>
                    </ul>
                    <a class="button is-primary">See all Season 1 episodes</a>
                </p>
            </div>
            <div class="column">
                <p>
                    <ul>
                        <li>Random episode</li>
                        <li>Random episode</li>
                        <li>Random episode</li>
                    </ul>
                    <a class="button is-primary">See all Season 2 episodes</a>
                </p>
            </div>
            <div class="column">
                <p>
                    <ul>
                        <li>Random episode</li>
                        <li>Random episode</li>
                        <li>Random episode</li>
                    </ul>
                    <a class="button is-primary">See all Season 3 episodes</a>
                </p>
            </div>
            <div class="column">
                <p>
                    <ul>
                        <li>Random episode</li>
                        <li>Random episode</li>
                        <li>Random episode</li>
                    </ul>
                    <a class="button is-primary">See all Season 4 episodes</a>
                </p>
            </div>
        </div>
	</div>
{% endblock %}