{% extends 'base.html' %}

{% block title %}
	Characters
{% endblock %}

{% block content %}
	<div class="container">
		<div class="notification level">
			<div class="level-left">
				<span class="title">Characters</span>
			</div>
			<div class="level-right">
				<form action="/characters/search" method="get">
					<div class="field has-addons">
						<div class="control has-icons-left">
							<input class="input" type="text" name="characterName" placeholder="Character name">
							<span class="icon is-small is-left">
								<i class="far fa-id-badge"></i>
							</span>
						</div>
						<div class="control">
							<input class="button is-primary" type="submit" value="Search">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="container">
		<p class="py-5">
			Rick and Morty Wiki actually has stored {{ number_of_characters }} characters! Type the name in the search bar or select one from below:
		</p>
		<!-- Random Character 1 -->
		{% for item in characters %}
		<article class="media">
			<figure class="media-left">
				<p class="image is-64x64">
					<img src="{{ item['image'] }}" class="is-rounded">
				</p>
			</figure>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>{{ item['name'] }}</strong>
						{% if item['status'] == 'Alive'%}
							<span class="tag is-success">{{ item['status'] }}</span>
						{% elif item['status'] == 'Dead' %}
							<span class="tag is-danger">{{ item['status'] }}</span>
						{% else %}
							<span class="tag is-warning">{{ item['status'] }}</span>
						{% endif %}
						<span class="tag is-light">{{ item['species'] }}</span>
						<br>
						<strong>Latest known location:</strong> {{ item ['location'] }}
						<br>
						<small>Acted in <strong>{{ item ['actedIn'] }}</strong> episode(s).</small>
					</p>
				</div>
			</div>
		</article>
		{% endfor %}
	</div>
{% endblock %}