<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Rick and Morty's Wiki</title>
        <!-- Bulma CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <!-- Plot.ly JS -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <!-- FontAwesome Icons -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous"/>
		<!-- DataTables -->
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
  		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    </head>
    <body>
		<!-- Hero -->
		<section class="hero is-dark">
			<div class="hero-body">
				<div class="container has-text-centered">
					<h1 class="title">
						Rick and Morty Wiki
					</h1>
					<h2 class="subtitle is-uppercase">
						Unofficial
					</h2>
				</div>
			</div>
		</section>
		<section class="section">
			<div class="columns">
				<div class="column is-one-fifths">
					<!-- Side Menu -->
					<aside class="menu">
						<p class="menu-label">
						General
						</p>
						<ul class="menu-list">
							<li>
								<a href="{{ url_for('status') }}">
									<span class="icon">
										<i class="fas fa-info"></i>
									</span>
									Status
								</a>
							</li>
						</ul>
						<p class="menu-label">
							Wiki
						</p>
						<ul class="menu-list">
							<li>
								<a href="{{ url_for('characters.index') }}">
									<span class="icon">
										<i class="far fa-id-badge"></i>
									</span>
									Characters
								</a>
							</li>
							<li>
								<a>
									<span class="icon">
										<i class="fas fa-tv"></i>
									</span>
									Episodes
								</a>
							</li>
							<li>
								<a>
									<span class="icon">
										<i class="fas fa-globe-europe"></i>
									</span>
									Locations
								</a>
							</li>
						</ul>
					</aside>
				</div>
				<div class="column is-four-fifths">
					<!-- Content -->
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</section>
		<!-- Footer -->
		<footer class="footer">
			<div class="content has-text-centered">
				<p><strong>Rick and Morty Wiki</strong> by <a href="https://giosuesulipano.it">Giosuè Sulipano</a>.</p>
				<p>
					<a class="button is-dark is-small" href="https://github.com/imgios/RaM-wiki">
						<i class="fab fa-github pr-2"></i> The source code is available on GitHub!
					</a>
				</p>
			</div>
		</footer>
    </body>
</html>