{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<h1 class="title">
			🔄 App Status
		</h1>
		<div class="notification">
			The application is running!
		</div>
		<!-- TILES -->
		<div class="level">
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Characters</p>
					<p class="title">{{ number_of_characters }} </p>
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Episodes</p>
					<p class="title">{{ number_of_episodes }} </p>
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Locations</p>
					<p class="title">{{ number_of_locations }} </p>
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Nodes</p>
					<p class="title">{{ number_of_nodes }} </p>
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Relationships</p>
					<p class="title">{{ number_of_relationships }} </p>
				</div>
			</div>
		</div>
		<!-- END TILES -->
	</div>
{% endblock %}